# Java
*.class

# Maven
target/

# VS Code
.vscode/

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Spring / Local Environment
application.properties

# Logs
*.log

# System
.DS_Store
Thumbs.db