body {
  background-color: #f8f9fa;
}
.form-container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mb-4 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 1);
  border: 2px solid #220000;
  border-radius: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-weight: 100;
  font-style: oblique;
  padding: 4px;
  color: #fff;
  background-image: url(/frontend/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.mb-3 {
  font-style: oblique;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 1vh;
  box-shadow: 0 0 1vh rgba(0, 0, 0, 1);
}

.mb-4:hover {
  color: #0400ff;
  animation: rotate 2s 1s infinite linear alternate-reverse;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#inputPassword {
  color: #000;
}
